In [5]:
#Given list between date generate schedule
#this is test
import pandas as pd
temp=[]
lst=['Arun',
'David Clerc',
'Lucio Rivera',
'Harpreet',
'Pankaj Nerkar',
'Abel',
'Rodrigo',
'Christopher Cucchiara',
'Nihar ']


def generate_schld_frm_list(lst):
    temp=[]
    for i in range(len(lst)):
        for j in range(i+1,len(lst)):
            temp.append([lst[i],lst[j],'x'])
    return temp

temp=generate_schld_frm_list(lst)
pd.DataFrame(temp).to_html('temp.html')

In [4]:
import pandas as pd
TPL_currentSeason=r'C:\Users\harsh\Repo\TPL\TPL\TPL_currentseason.xlsx'
df=pd.read_excel(TPL_currentSeason, engine ='openpyxl',sheet_name ='PointTable',keep_default_na=False)


schedule_list=[]
for d in df['Division'].unique():
     tempDiv=df.loc[df['Division']==d]
     for group in tempDiv['Group'].unique():
          lst=tempDiv.loc[tempDiv['Group']==group]['Player'].to_list()
          schedule_list.extend(generate_schld_frm_list(lst))

pd.DataFrame(schedule_list).to_html('temp.html')

In [56]:
TPL_currentSeason=r'C:\Users\harsh\Repo\TPL\TPL\TPL_doubles_test.xlsx'
df_PT=pd.read_excel(TPL_currentSeason, engine ='openpyxl',sheet_name ='PointTable',keep_default_na=False)

unique_divs=df_PT['Division'].unique()
div_dict=dict.fromkeys(unique_divs)


for div in unique_divs:
    div_dict[div]=df_PT.loc[df_PT['Division']==div][['Player','Points','%games','Matches']]

for index,row in div_dict[5.0].iterrows():
    print(row['Player'])

 Pankaj & Akshay
 Harpreet & David Clerc
 Kedar & Ramana
 Eric Salgado & Aaron
 Trent & Diego Burgi
 Ganesh & Keith
 Chavel & Randy
 Alok & Arun
 Madhu & Rajesh

In [44]:
df_PT.loc[df_PT['Division']==5.0][['Player','Points','%games','Matches']]

                     Player  Points  %games  Matches
0           Pankaj & Akshay       0       0        0
1   Harpreet & David Clerc        0       0        0
2            Kedar & Ramana       0       0        0
3      Eric Salgado & Aaron       0       0        0
4       Trent & Diego Burgi       0       0        0
5            Ganesh & Keith       0       0        0
6            Chavel & Randy       0       0        0
7               Alok & Arun       0       0        0
8            Madhu & Rajesh       0       0        0

 <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>