In [4]:
#use file name generate entire schedule

import pandas as pd
from calculation import generate_sch_from_list
TPL_currentSeason=r'C:\Users\harsh\Downloads\TPL_Doubles.xlsx'
df=pd.read_excel(TPL_currentSeason, engine ='openpyxl',sheet_name ='PointTable',keep_default_na=False)


schedule_list=[]
for d in df['Division'].unique():
     tempDiv=df.loc[df['Division']==d]
     for group in tempDiv['Group'].unique():
          lst=tempDiv.loc[tempDiv['Group']==group]['Team'].to_list() #for singles Player, doubles Team
          schedule_list.extend(generate_sch_from_list(lst))

pd.DataFrame(schedule_list).to_html('temp.html')

In [1]:
import pandas as pd
TPL_currentSeason=r'C:\Users\harsh\Repo\TPL\TPL\TPL_Doubles.xlsx'
df_PT=pd.read_excel(TPL_currentSeason, engine ='openpyxl',sheet_name ='PointTable',keep_default_na=False)

unique_divs=df_PT['Division'].unique()
div_dict=dict.fromkeys(unique_divs)


for div in unique_divs:
    div_dict[div]=df_PT.loc[df_PT['Division']==div][['Team','Points','%games','Matches']]

for index,row in div_dict[5.0].iterrows():
    print(row['Team'])

div_dict

 Pankaj & Akshay
 Harpreet & David Clerc
 Kedar & Ramana
 Eric Salgado & Aaron
 Trent & Diego Burgi
 Ganesh & Keith
 Chavel & Randy
 Alok & Arun
 Madhu & Rajesh

{5.0:                        Team  Points  %games  Matches
 0           Pankaj & Akshay       0       0        0
 1   Harpreet & David Clerc        0       0        0
 2            Kedar & Ramana       0       0        0
 3      Eric Salgado & Aaron       0       0        0
 4       Trent & Diego Burgi       0       0        0
 5            Ganesh & Keith       0       0        0
 6            Chavel & Randy       0       0        0
 7               Alok & Arun       0       0        0
 8            Madhu & Rajesh       0       0        0,
 4.0:                                Team  Points  %games  Matches
 9                Prasanna & Richard       0       0        0
 10                     David/Thomas       0       0        0
 11              Adil /  Aariz Syed        0       0        0
 12                     Anjum/Suhail       0       0        0
 13   Srinivas Balusu/ Sriram Venkat       0       0        0
 14                    Raam/Satheesh       0       0        0
 15                   Lazer/Prasanna       0       0        0
 16            Arul/Senthil Sainath        0       0        0
 17                   Raj/ Raj’s Son       0       0        0
 18                   Harshil/ Ayan        0       0        0
 19                  ⁠Logan/ Darshan       0       0        0
 20                   ⁠Gunjan/Mahesh       0       0        0
 21        ⁠Narayan/Karthik Ganesan        0       0        0
 22        ⁠Leslie/Senthil Kathirvel       0       0        0,
 4.5:                             Team  Points  %games  Matches
 23         Chengwei & Hanson Jin       0       0        0
 24                  Juan & Rohit       0       0        0
 25                   Anil & Dale       0       0        0
 26              Nihar & Vastalya       0       0        0
 27                Gunjan & Pinku       0       0        0
 28                Amit & Chandra       0       0        0
 29       Dave Kusko & John Kusko       0       0        0
 30                   Sam & Amol        0       0        0
 31       Jesus & Francisco Diaz        0       0        0
 32             Surya & Srikanth        0       0        0
 33              Praveen & Arvind       0       0        0
 34                Sunil & Sunny        0       0        0
 35             ⁠Anand & Q Javed        0       0        0
 36   ⁠Ravinder & Rohit Mahapatra       0       0        0}

In [2]:
sch_df=pd.read_excel(TPL_currentSeason, engine ='openpyxl',sheet_name ='Schedule',keep_default_na=False)




select_value= "Harpreet & David Clerc"
for index,row in sch_df.iterrows():
  if(select_value==row['Team1'] or select_value==row['Team2']):
    print('yes')

NameError: name 'pd' is not defined

 <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>